


@font-face {
    font-family: 'chunkfiveroman';
    src: url('chunkfive-webfont.woff2') format('woff2'),
         url('/assets/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'chunkfiveroman';
    src: url('/assets/chunkfive-webfont.woff2') format('woff2'),
         url('chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}